/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --spacing: 1rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;

  > * {
    padding: 0 var(--spacing);
  }
}

#title-section {
  padding-bottom: var(--spacing);

  h1 {
    text-decoration: underline;
  }
  #subtitle-section {
    font-size: larger;
  }
}

#weather-report-form {
  padding-bottom: var(--spacing);
}

#weather-results-section {
  padding: var(--spacing);
  width: 100%;

  background-image: url("./images/masonWeather.png");
  background-size: 100%;
  /* background-position: 0 -20rem; */

  #weather-card {
    padding: var(--spacing);
    width: 50%;
    margin-left: auto;

    background-color: white;
  }
}
