/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --spacing: 1rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;

  max-width: 57.5rem;
  margin: auto;

  > * {
  }
}

#title-section {
  padding-bottom: var(--spacing);

  h1 {
    font-size: 3rem;
  }
  #subtitle-section {
    font-size: larger;
    margin-left: 2rem;
  }
}

#weather-report-form {
  padding-bottom: var(--spacing);
}

#weather-results-section {
  padding: var(--spacing);
  width: 100%;

  background-image: url("./images/masonWeather.png");
  background-size: 100%;
  background-repeat: no-repeat;

  #weather-card {
    padding: var(--spacing);
    width: 45%;
    margin-left: auto;

    background-color: white;
    border: lightblue 10px solid;
    border-radius: var(--spacing);
    box-shadow: 5px 5px 5px black;

    #weather-info {
      #report-address {
        text-align: center;
        font-size: large;
        font-weight: bold;
      }

      #condition-report {
        text-align: center;
      }

      #temp-report {
        text-align: center;
      }

      #weather-emoji {
        font-size: 10rem;
        text-align: center;
      }
    }

    #mason-quote-container {
      #mason-quote {
        font-style: italic;
      }
      #mason-quote-src {
        margin-left: 2rem;
      }
    }
  }
}
